.gradle
bin
Reports
Libs
output
!output/.gitkeep
build
jmeter/simit2/Include/assets/Evidencias/
Include/assets/Evidencias/*
reportecucumber
.classpath
.project
*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*
Reports/